@model StockCollection
@{
    ViewData["Title"] = "Home Page";
}

<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="~/js/plotting.js"></script>
</head>
<body>
    <div class="container">
        <div id="myDiv" style=""></div>
        <script type="text/javascript">

            var xAxis = [];

            @foreach (var d in Model.Xaxis)
            {
                @:xAxis.push("@d");
            }

            var yAxis = [];

            @foreach (var d in Model.Yaxis)
            {
                @:yAxis.push("@d");
            }
            var myPlot = document.getElementById('myDiv'),
                x = xAxis,
                y = yAxis,
                data = [{
                    x: x, y: y, type: 'scatter'
                }],
                layout = {
                    hovermode: 'closest',
                    title: 'Click on Points'
                };

            Plotly.newPlot('myDiv', data, layout);

            myPlot.on('plotly_click', function (data) {
               var url = "/Home/Analyze";
               window.location.href = url;
            });
        </script>
    </div>
</body>



